html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: Arial, sans-serif;
}

#canvas{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    z-index: 1;
    left:0;
  }

#canvas-settings{
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 2;
    left:0;
    background-color: transparent;

}
.about {
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
    left: 10%;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.note {
    margin-bottom: 15px;
    position: relative;
    width: 80%;
    left: 10%;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.canvas-settings-openclose {
    width: 150px;
    height: 50px;
    top:calc(50% - 25px);
    cursor: pointer;
    transform: translateY(-50%);
    left: 15px;
    color: rgb(207, 207, 207); 
    font-size: 21px;

    font-family: Arial, sans-serif;
    position: relative;
    
}

.canvas-settings-window {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 5;
    background: #363636;
    display: none;
}

#close {
    position: absolute;
    left: 275px;
    top: 5px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.canvas-settings-section {
    position:relative;
    top: 20px;
}
#restart {
    width: 80%;
    left: 10%;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 0 0 2px #000000;
    text-align: center;
    margin-bottom: 15px;
    border:1px solid #d3d3d3;
    margin-top: 15px;
    height:35px;
    padding-top: 15px;
}

#pause span, #restart span {
    cursor: pointer;
    position: relative;
}

#block-size-label {
    font-family:Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 0 0 2px #000000;
    margin-bottom: 15px;
    position: relative;
    left: 10%;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    left: 10%;
    position: relative;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    margin-bottom: 15px;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ff7b00;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ff7b00;
    cursor: pointer;
  }

  .victory-window {
    width: 600px;
    height: 170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    font-size: 48px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 120px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
  }

  .plinko-container {
      width: 240px;
      height: calc(100vh - 300px);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      right: 7.5px;
      z-index: 50;
      border:1px solid white;
      display: none;
  }
  .plinko-play {
    width: 80%;
    height: 55px;
    left: 10%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    box-shadow: none;
    border: 1px solid white;
    color: white;
    text-shadow: 0 0 2px #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }